.SideDrawer{
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 450px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    /* align-items: center; */
    /* justify-content: center; */
}

@media (min-width: 500px) {
}

.Open {
    transform: translateX(0)
}

.Close {
    transform: translateX(-100%)
}

.Logo {
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}