.bold {
    font-weight: bold;
  }

 .red {
    color: red;
  }

  .Cockpit button{
    padding: 5px;
    margin:5px;
    outline: none;
    cursor: pointer;
  }
  .Cockpit button:hover{
    background-color: aqua;
  }
  