.NavigationItmes {
    margin: 0px;
    padding: 0px;
    list-style: none;
    align-items: center;
    height: 100%;
    display: flex;
    flex-flow: row;
}

.VerticalNavigationItmes{
    flex-flow: column;
    flex-wrap: wrap;
}

@media(max-width: 500px){
    .NavigationItmes {
        flex-flow: column;
    }

    .VerticalNavigationItmes {
        flex-flow: column;
    }
}